body{
    margin: 0
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container>button{
    display: block;
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.container2{
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container2>button{
    margin: 10px;
}

.container2>output{
    margin: 10px;
}