<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring</title>
    <link rel="stylesheet" href="css/registry.css" media="screen" type="text/css" />
    <!--<link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<!--<script type="text/javascript">-->
    <!--function getAction(){-->
    <!--var email = document.forms.data['email'].value;-->
    <!--var pass = document.forms.data['password'].value;-->
    <!--var confPass = document.forms.data['confPass'].value;-->
    <!--if (email == '' || pass == '' || confPass == ''){-->
    <!--alert("Fields must be filled!!!");-->
    <!--return false;-->
    <!--}-->
    <!--if (pass != confPass){-->
    <!--alert('Password and confirm must be the same!!');-->
    <!--return false;-->
    <!--}-->
    <!--return true;-->
    <!--}-->
<!--</script>-->

<script src="js/script.js"></script>

<div id="login-form">
    <h1>Регистрация на сайте</h1>

    <fieldset>
        <form name="data" action=registryrequest method="POST" enctype="multipart/form-data" onsubmit="return getAction()">
            <input name="email" type="email" placeholder="email">
            <input name="password" type="password" placeholder="Пароль">
            <input name="confPass" type="password" placeholder="Повторите пароль">
            <input type="submit" value="Регистрация">
        </form>
    </fieldset>
</div>
</body>
</html>